<!DOCTYPE html>
<html>
  <head>
    <title>Gradus</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'index' %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="lib/svg.js"></script>

    <script type="text/javascript" src="lib/keymaster.js"></script>

    <script type="text/javascript" src="lib/midi/AudioDetect.js"></script>
    <script type="text/javascript" src="lib/midi/Base64.js"></script>
    <script type="text/javascript" src="lib/midi/DOMLoader.XMLHttp.js"></script>
    <script type="text/javascript" src="lib/midi/LoadPlugin.js"></script>
    <script type="text/javascript" src="lib/midi/Player.js"></script>
    <script type="text/javascript" src="lib/midi/Plugin.js"></script>
    <script type="text/javascript" src="lib/midi/base64binary.js"></script>
    <script type="text/javascript" src="lib/midi/midifile.js"></script>
    <script type="text/javascript" src="lib/midi/replayer.js"></script>
    <script type="text/javascript" src="lib/midi/stream.js"></script>
    <script type="text/javascript" src="lib/init_midi.js"></script>

    <script type="text/javascript" src="gradus.js"></script>
    <script type="text/javascript" src="keybindings.js"></script>
    <script type="text/javascript" src="storage.js"></script>

    <script type="text/javascript" src="rules/constraints.js"></script>
    <script type="text/javascript" src="rules/1st_species.js"></script>


    <style>
      #library { display: none }
      .status.busy { background-color: #ffa500 }
      .status.done { background-color: #00aa00 }
    </style>

  </head>
  <body>

    <div id="controls">
      <span style="display: inline-block; width: 30px" class="status">&nbsp;</span>
      <label>Hyper mode: </label>
      <label><input type="radio" name="hyper" value="on" disabled/>On</label>
      <label><input type="radio" name="hyper" value="off" checked="checked" disabled/>Off</label>
      <label style="margin-left: 18px">bpm: <input name="bpm" /></label>
      <label style="margin-left: 18px">load: <select name="source"></select></label>
      <button style="margin-left: 18px" name="save">save</button>
    </div>

    <div id="score"></div>

    <div id="messages"></div>

    <div id="library">
      <div data-name="First Species Practice #1">
        K: CMaj
        L: 1/4
        <!--[V: Counterpoint]  d4 | c4 | e4 | f4 | d4 | a4 | f4 | g4 | d4 | ^c4 | d4-->
        <!--[V: Counterpoint]  d4 | z4 | z4 | z4 | z4 | z4 | z4 | z4 | z4 | z4 | z4-->
        [V: Counterpoint]  z4 | z4 | z4 | z4 | z4 | z4 | z4 | z4 | z4 | z4 | z4
        [V: Cantus Firmus] D4 | F4 | E4 | D4 | G4 | F4 | A4 | G4 | F4 | E4 | D4
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55215555-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
